<!-- carousel -->
<div class="relative w-full min-h-full overflow-hidden">
  @for (item of slides; track $index) {
  <div class="" >
    @if (slides.indexOf(item) == currentSlide) {
    <img [src]="item" @carouselAnimation />
    }
  </div>
  }

  <!-- controls -->
  @if (slides.length > 0) {
  <button class="absolute top-1/2 left-3 z-40" (click)="onPreviousClick()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-8 w-8 stroke-white p-1 rounded-full hover:bg-[rgba(0,0,0,0.6)] transition-all duration-100"
    >
      <path d="m15 18-6-6 6-6" />
    </svg>
  </button>
  <button class="absolute top-1/2 right-3 z-40" (click)="onNextClick()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-8 w-8 stroke-white p-1 rounded-full hover:bg-[rgba(0,0,0,0.6)] transition-all duration-100"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </button>
  }
</div>
