<div
  @animation
  class="flex gap-2 p-2 sticky top-12 sm:top-[4.7rem] backdrop-blur-md"
>
  <button
    (click)="getNotifs('ALL')"
    class="flex-1 px-4 py-2 text-sm border border-neutral-400 dark:border-neutral-700 rounded-lg backdrop-blur-md bg-neutral-100/40 dark:bg-black/40"
  >
    All
  </button>
  <button
    (click)="getNotifs('FOLLOW')"
    class="flex-1 px-4 py-2 text-sm border border-neutral-400 dark:border-neutral-700 rounded-lg backdrop-blur-md bg-neutral-100/40 dark:bg-black/40"
  >
    Follow
  </button>
  <button
    (click)="getNotifs('REPLY')"
    class="flex-1 px-4 py-2 text-sm border border-neutral-400 dark:border-neutral-700 rounded-lg backdrop-blur-md bg-neutral-100/40 dark:bg-black/40"
  >
    Replies
  </button>
  <button
    (click)="getNotifs('MENTION')"
    class="flex-1 px-4 py-2 text-sm border border-neutral-400 dark:border-neutral-700 rounded-lg backdrop-blur-md bg-neutral-100/40 dark:bg-black/40"
  >
    Mentions
  </button>
  <button
    (click)="getNotifs('LIKE')"
    class="flex-1 px-4 py-2 text-sm border border-neutral-400 dark:border-neutral-700 rounded-lg backdrop-blur-md bg-neutral-100/40 dark:bg-black/40"
  >
    Quotes
  </button>
  <button
    (click)="getNotifs('REPOST')"
    class="flex-1 px-4 py-2 text-sm border border-neutral-400 dark:border-neutral-700 rounded-lg backdrop-blur-md bg-neutral-100/40 dark:bg-black/40"
  >
    Reposts
  </button>
  <!-- <button
    class="flex-1 px-4 py-2 text-sm border border-neutral-400 dark:border-neutral-700 rounded-lg backdrop-blur-md bg-neutral-100/40 dark:bg-black/40"
  >
    Verifieds
  </button> -->
</div>

@if(loading){
<loader class="py-4"></loader>
}@else { @if(data.length == 0 ){
<no-data-found Color="NEUTRAL" />
}

<div class="py-3 flex flex-col">
  @for (item of data; track $index) {
  <div
    @animation
    class="flex gap-3 pt-3 cursor-pointer"
    [routerLink]="'/thread/' + item.HelperId"
  >
    <div>
      <img class="h-9 w-9 rounded-full" src="{{ item.CasterAvatarUrl }}" />
    </div>
    <div
      class="flex flex-col justify-start flex-1 gap-1 border-b border-neutral-400 dark:border-neutral-800 pb-3"
    >
      <div class="text-sm flex gap-1 items-center">
        <p>{{ item.CasterUserName }}</p>
        @if (item.verifiedSender) {
        <img class="h-4 w-4" src="/assets/verified-icon.svg" />
        }
        <p class="ml-1 text-neutral-600 dark:text-neutral-500">
          {{ timeDifference(item.CreatedAt) }}
        </p>
      </div>

      <p class="text-neutral-600 dark:text-neutral-500 text-sm">
        {{ item.Type === "FOLLOW" ? "Started following you." : "" }}
        {{ item.Type === "REPLY" ? "Replied to your thread." : "" }}
        {{ item.Type === "MENTION" ? "Mentioned you in their's thread." : "" }}
        {{ item.Type === "REPOST" ? "Reposted your thread." : "" }}
        <!-- {{ item.Type === "QUOTE" && "Qouted your thread." }} -->
      </p>
    </div>
  </div>
  }
</div>

}
