<div class="flex gap-2 pb-4">
  <button
    class="flex-1 px-4 py-2 text-sm border border-zinc-400 dark:border-zinc-700 rounded-lg"
  >
    All
  </button>
  <button
    class="flex-1 px-4 py-2 text-sm border border-zinc-400 dark:border-zinc-700 rounded-lg"
  >
    Follow
  </button>
  <button
    class="flex-1 px-4 py-2 text-sm border border-zinc-400 dark:border-zinc-700 rounded-lg"
  >
    Replies
  </button>
  <button
    class="flex-1 px-4 py-2 text-sm border border-zinc-400 dark:border-zinc-700 rounded-lg"
  >
    Mentions
  </button>
  <button
    class="flex-1 px-4 py-2 text-sm border border-zinc-400 dark:border-zinc-700 rounded-lg"
  >
    Quotes
  </button>
  <button
    class="flex-1 px-4 py-2 text-sm border border-zinc-400 dark:border-zinc-700 rounded-lg"
  >
    Reposts
  </button>
  <button
    class="flex-1 px-4 py-2 text-sm border border-zinc-400 dark:border-zinc-700 rounded-lg"
  >
    Verifieds
  </button>
</div>
