<div class="flex flex-col gap-2 w-full p-3 sm:p-5 h-full">
  <div
    class="w-full flex items-center justify-between sticky top-0 backdrop-blur-md"
  >
    <div class="flex items-center gap-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-neutral-600 dark:stroke-white h-6 w-6"
      >
        <path
          d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
        />
        <circle cx="12" cy="12" r="4" />
      </svg>
      <h1 class="text-2xl font-semibold text-gray-800 dark:text-white">
        Report config
      </h1>
    </div>

    <button
      class="flex items-center gap-3 rounded-md dark:bg-gray-800 bg-gray-200 px-3 py-2"
      [routerLink]="['../']"
      routerLinkActive="router-link-active"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-neutral-600 dark:stroke-white h-5 w-5"
      >
        <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z" />
        <line x1="4" x2="4" y1="22" y2="15" />
      </svg>
      <p>Reports</p>
    </button>
  </div>

  <div
    class="overflow-y-scroll overflow-x-hidden custom-scrollbar custom-scrollbar-light dark:custom-scrollbar-dark min-h-max h-full flex-1 w-full"
  >
    <div class="flex flex-col gap-3 w-full h-full">
      <!-- write here -->

      <div class="flex flex-col">
        <p class="text-md text-gray-700 dark:text-gray-300">
          Thease are all report categories and reports associated with
          categories.
        </p>
        <p class="text-sm text-gray-600 dark:text-gray-600">
          User will be able to see these categories and reports under Reports
          section of a Profile or post
        </p>
      </div>

      <div
        class="w-full h-full my-4 flex divide-x divide-gray-300 border dark:divide-gray-700 border-gray-300 dark:border-gray-700 rounded-lg"
      >
        <div class="p-2 flex flex-col gap-3 flex-[0.25]">
          @if(categories.length > 0){
          <div
            @dropBody
            class="w-full p-1 flex items-center justify-between bg-gray-300/60 dark:bg-gray-800/60 rounded-md"
          >
            <p class="w-full px-2">Categories ({{ categories.length }})</p>
            <button
              (click)="openDialog('NEW', 'CATE')"
              class="p-2 flex items-center justify-center bg-gray-300 dark:bg-gray-800 rounded-md hover:bg-gray-400/60 dark:hover:bg-gray-950 border-none outline-none focus:bg-gray-300 dark:focus:bg-gray-950 transition-all duration-200"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-5 w-5 stroke-black dark:stroke-white"
              >
                <circle cx="12" cy="12" r="10" />
                <path d="M8 12h8" />
                <path d="M12 8v8" />
              </svg>
            </button>
          </div>
          }
          <div
            class="h-full overflow-y-auto gap-1 overflow-x-hidden flex flex-col justify-start"
          >
            <!-- categories map -->
            @if (categories.length > 0) {
            <!--  -->
            @for (item of categories; track $index) {
            <div @dropBody>
              <button
                (click)="setSelectedCategory(item)"
                class="hover:bg-gray-300/50 dark:hover:bg-gray-800/50 focus:bg-gray-300/50 dark:focus:bg-gray-800/50 rounded-md transition-all duration-200 border-none outline-none w-full p-2.5 text-left {{
                  selectedCategory?.ReportCategoryId === item.ReportCategoryId
                    ? 'bg-gray-300/50 dark:bg-gray-800/50'
                    : ''
                }}"
              >
                <p>{{ item.CategoryName }}</p>
              </button>
            </div>
            @if($index !== categories.length - 1){
            <div
              class="w-[95%] h-[1px] mx-auto bg-gray-300 dark:bg-gray-800/50"
            ></div>
            } } } @else { @if(loading == false){
            <div
              @dropBody
              class="flex flex-col gap-4 items-center justify-center pt-44 w-full"
            >
              <no-data-found class="" message="No Categories" />
              <div class="rounded-md">
                <button
                  (click)="openDialog('NEW', 'CATE')"
                  class="p-2 flex items-center justify-center bg-gray-300 dark:bg-gray-800 rounded-md hover:bg-gray-400/60 dark:hover:bg-gray-950 border-none outline-none focus:bg-gray-300 dark:focus:bg-gray-950 transition-all duration-200"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-5 w-5 stroke-black dark:stroke-white"
                  >
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                    <path d="M12 8v8" />
                  </svg>
                </button>
              </div>
            </div>
            } @else {
            <loader class="h-full w-full" />
            } }
          </div>
        </div>
        <div class="p-2 flex flex-col gap-3 flex-[0.75]">
          <div>
            <!-- add report -->
            @if(selectedCategory){
            <div
              @dropBody
              class="w-full p-1 flex items-center justify-between bg-gray-300/60 dark:bg-gray-800/60 rounded-md"
            >
              <p class="w-full px-2">
                {{ selectedCategory.CategoryName }} ({{
                  selectedReports.length
                }})
              </p>
              <div class="flex gap-1 items-center">
                <button
                  (click)="openDialog('NEW', 'REPORT')"
                  class="p-2 flex items-center justify-center bg-gray-300 dark:bg-gray-800 rounded-md hover:bg-gray-400/60 dark:hover:bg-gray-950 border-none outline-none focus:bg-gray-300 dark:focus:bg-gray-950 transition-all duration-200"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="stroke-black dark:stroke-white h-5 w-5 group-hover:stroke-white transition-all duration-150"
                  >
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                    <path d="M12 8v8" />
                  </svg>
                </button>
                <button
                  (click)="openDialog('UPDATE', 'CATE', selectedCategory)"
                  class="p-2 flex items-center justify-center bg-gray-300 dark:bg-gray-800 rounded-md hover:bg-gray-400/60 dark:hover:bg-gray-950 border-none outline-none focus:bg-gray-300 dark:focus:bg-gray-950 transition-all duration-200"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-5 w-5 stroke-black dark:stroke-white"
                  >
                    <path
                      d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"
                    />
                    <path d="m15 5 4 4" />
                  </svg>
                </button>
                <button
                  (click)="deleteItem('CATE', selectedCategory)"
                  class="p-2 flex items-center justify-center bg-gray-300 dark:bg-gray-800 rounded-md dark:hover:bg-red-600 hover:bg-red-600 border-none outline-none focus:bg-red-600 transition-all duration-200"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-5 w-5 stroke-black dark:stroke-white"
                  >
                    <path d="M3 6h18" />
                    <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                    <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                  </svg>
                </button>
              </div>
            </div>
            }
          </div>
          <div class="h-full flex flex-col gap-1">
            <!-- reports map -->
            @if (selectedReports.length > 0) {
            <!--  -->
            @for (item of selectedReports; track $index) {
            <div @dropBody>
              <div
                class="rounded-md flex items-center justify-between transition-all duration-200 border-none outline-none w-full text-left"
              >
                <p class="p-2.5">{{ item.Text }}</p>
                <div class="flex items-center rounded-md overflow-hidden">
                  <button
                    class="p-2.5 transition-all duration-150 hover:bg-zinc-200 dark:hover:bg-gray-800/60 outline-none border-none group"
                    (click)="openDialog('UPDATE', 'REPORT', item)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="stroke-black dark:stroke-white h-4 w-4"
                    >
                      <path
                        d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"
                      />
                      <path d="m15 5 4 4" />
                    </svg>
                  </button>
                  <div
                    class="h-5 group-hover:h-full transition-all duration-150 w-[1px] rounded-full bg-gray-600 contents-[' ']"
                  ></div>
                  <button
                    class="p-2.5 transition-all duration-150 hover:bg-red-600 outline-none border-none group"
                    (click)="deleteItem('REPORT', item)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="stroke-black dark:stroke-white h-4 w-4 group-hover:stroke-white transition-all duration-150"
                    >
                      <path d="M3 6h18" />
                      <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                      <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                      <!-- <line x1="10" x2="10" y1="11" y2="17" />
                    <line x1="14" x2="14" y1="11" y2="17" /> -->
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            @if($index !== selectedReports.length - 1){
            <div
              class="w-[98%] h-[1px] mx-auto bg-gray-300 dark:bg-gray-800/50"
            ></div>
            } } }@else {
            <div class="pt-44 w-full">
              <no-data-found
                [message]="
                  categories.length > 0
                    ? selectedCategory !== null
                      ? 'No Reports found!'
                      : 'Please select a category'
                    : 'No Reports found!'
                "
              />
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@if(dialog.dialogVisible() === "TEMP"){
<custom-popup>
  <div
    class="flex flex-col rounded-xl justify-between items-center overflow-hidden sm:w-[400px] bg-white dark:bg-gray-900 border border-neutral-300 dark:border-gray-800 height-transition {{
      tempLoading ? 'h-52' : 'h-[16rem]'
    }}"
  >
    @if(tempLoading){
    <div class="h-full w-full flex items-center justify-center">
      @if(tempCheck){ @if (tempSuccess) {
      <div class="flex flex-col gap-3 justify-center items-center">
        <svg
          @rotateEnter
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-7 w-7 stroke-emerald-500"
        >
          <circle cx="12" cy="12" r="10" />
          <path d="m9 12 2 2 4-4" />
        </svg>

        <p class="text-black dark:text-white">{{ tempMessage }}</p>
      </div>

      }@else {
      <div class="flex flex-col gap-3 justify-center items-center">
        <svg
          @rotateEnter
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-7 w-7 stroke-red-500"
        >
          <circle cx="12" cy="12" r="10" />
          <path d="m15 9-6 6" />
          <path d="m9 9 6 6" />
        </svg>
        {{ tempMessage }}
      </div>
      } }@else{
      <loader />
      }
    </div>
    }@else { @if (formType == "DELETE") {
    <div class="flex flex-col h-full justify-between">
      <div class="p-4 h-full flex flex-col items-center justify-center">
        <h2 class="text-xl font-semibold text-black dark:text-white dark">
          Are you sure you want to delete this
          {{ fieldType == "CATE" ? "Category" : "Report" }}
        </h2>
        <p class="text-sm">
          {{
            fieldType == "CATE"
              ? dataForDeletion.CategoryName
              : dataForDeletion.Text
          }}
        </p>
      </div>
      <div
        class="w-full flex border-t border-t-neutral-300 dark:border-t-gray-800"
      >
        <button
          (click)="dialog.closeDialog()"
          class="flex-1 p-4 text-black dark:text-white font-medium border-r border-r-neutral-300 dark:border-r-gray-800 hover:bg-neutral-200 dark:hover:bg-gray-950 fucus:bg-neutral-200 dark:focus:bg-gray-950 transition-all duration-200 outline-none"
        >
          Cancel
        </button>
        <button
          (click)="deleteSubmit()"
          class="flex-1 p-4 text-black dark:text-white font-medium hover:bg-neutral-200 dark:hover:bg-gray-950 fucus:bg-neutral-200 dark:focus:bg-gray-950 transition-all duration-200 outline-none"
        >
          OK
        </button>
      </div>
    </div>
    }@else{
    <div class="p-4 w-full">
      <h2 class="text-xl font-semibold text-black dark:text-white">
        @if (formType === "NEW") { @if(fieldType === "CATE"){
        <p>Create new category for Reports</p>
        }@else{
        <p>Create new report in {{ selectedCategory?.CategoryName }}</p>
        } }@else{ @if(fieldType === "CATE"){
        <p>Update Name of {{ tempData?.CategoryName }} category</p>
        }@else{
        <p>Update Report</p>
        } }
      </h2>
      <p class="text-sm text-gray-500 pt-2">
        Add informative reports / categories for the reports so they are easy to
        deal with.
      </p>
    </div>

    <div class="w-full flex flex-col gap-3 p-3">
      <div class="relative">
        <div
          class="absolute origin-center top-1/2 left-6 -translate-x-1/2 -translate-y-1/2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-5 w-5 dark:stroke-gray-500"
          >
            <rect width="18" height="14" x="3" y="5" rx="2" ry="2" />
            <path d="M7 15h4M15 15h2M7 11h2M13 11h4" />
          </svg>
        </div>
        <!-- <input
          [autofocus]="true"
          class="py-3 text-black dark:text-gray-400 w-full rounded-md border border-gray-300 dark:border-gray-700 pl-11 bg-white dark:bg-gray-900 outline-none focus:border-gray-600 dark:focus:border-gray-500"
          placeholder="Text"
          [(ngModel)]="
           tempString
          "
        /> -->
        <input
          [autofocus]="true"
          class="py-3 text-black dark:text-gray-400 w-full rounded-md border border-gray-300 dark:border-gray-700 pl-11 bg-white dark:bg-gray-900 outline-none focus:border-gray-600 dark:focus:border-gray-500"
          placeholder="text"
          [(ngModel)]="tempString"
        />
      </div>
    </div>

    <div
      class="w-full flex border-t border-t-neutral-300 dark:border-t-gray-800"
    >
      <button
        (click)="dialog.closeDialog()"
        class="flex-1 p-4 text-black dark:text-white font-medium border-r border-r-neutral-300 dark:border-r-gray-800 hover:bg-neutral-200 dark:hover:bg-gray-950 fucus:bg-neutral-200 dark:focus:bg-gray-950 transition-all duration-200 outline-none"
      >
        Cancel
      </button>
      <button
        (click)="formType === 'NEW' ? addCateReportForm() : submitUpdateForm()"
        class="flex-1 p-4 text-black dark:text-white font-medium hover:bg-neutral-200 dark:hover:bg-gray-950 fucus:bg-neutral-200 dark:focus:bg-gray-950 transition-all duration-200 outline-none"
      >
        OK
      </button>
    </div>
    } }
  </div>
</custom-popup>

}
