<div
  class="w-full min-h-screen flex items-center justify-center overflow-x-hidden"
>
  <div
    class="flex flex-col gap-2 rounded-lg border-2 border-neutral-400 dark:border-neutral-700"
  >
    <div class="flex items-center gap-3 p-2 bg-neutral-400 dark:bg-neutral-700">
      <div class="flex items-center gap-1.5">
        <div
          class="dot h-3 w-3 bg-neutral-700 dark:bg-neutral-400 rounded-full"
        ></div>
        <div
          class="dot h-3 w-3 bg-neutral-700 dark:bg-neutral-400 rounded-full"
        ></div>
        <div
          class="dot h-3 w-3 bg-neutral-700 dark:bg-neutral-400 rounded-full"
        ></div>
      </div>
      <div
        class="w-full sm: min-w-[300px] md:min-w-[500px] h-[20px] rounded-md bg-neutral-700 dark:bg-neutral-400"
      ></div>
    </div>
    <div class="p-10 flex flex-col gap-3 items-center justify-center">
      <p class="font-moirai text-4xl">404</p>
      <p class="opacity-80">Page not Found!</p>
      <button>
        <span class="button_top"> Button </span>
      </button>
    </div>
  </div>
</div>
