<div class="flex flex-col gap-3 w-full p-4 sm:w-[400px]">
  <p class="font-bold pb-4 text-center">Login with your instagram account</p>
  <input
    type="text"
    class="bg-neutral-100 dark:bg-[#1e1e1e] px-3 py-3 w-full h-min rounded-xl border-none focus:outline focus:outline-offset-0 focus:outline-[0.5px] focus:outline-neutral-400 dark:focus:outline-neutral-700 placeholder:text-sm placeholder:text-neutral-400 dark:placeholder:text-neutral-500"
    placeholder="Email"
    [(ngModel)]="id"
    (keyup)="onTextKeyUp()"
  />

  <button
    class="bg-black text-white dark:text-black dark:bg-white px-3 py-3 rounded-xl disabled:cursor-not-allowed"
    [disabled]="!AllowSubmit"
  >
    Send Request
  </button>

  <div class="flex gap-4 items-center">
    <hr class="w-full border-neutral-400 dark:border-neutral-700" />
    <p class="text-neutral-500 dark:text-neutral-500">or</p>
    <hr class="w-full border-neutral-400 dark:border-neutral-700" />
  </div>

  <button
    (click)="onFormChange('EMAIL_LOGIN')"
    class="w-full border border-neutral-400 dark:border-neutral-700 rounded-xl p-4 flex items-center justify-between"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-8 w-8 stroke-neutral-900 dark:stroke-neutral-200"
    >
      <rect width="20" height="16" x="2" y="4" rx="2" />
      <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
    </svg>
    <p class="font-bold">Continue with Email</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-6 w-6 stroke-neutral-900 dark:stroke-neutral-200"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </button>
</div>
