<div class="w-full px-5 py-2 flex gap-5 justify-center items-center">
  <a [routerLink]="['feed']" routerLinkActive="router-link-active">home</a>
  <a [routerLink]="['search']" routerLinkActive="router-link-active">search</a>
  <a [routerLink]="['activity']" routerLinkActive="router-link-active"
    >activity</a
  >
  <a [routerLink]="['@harxh_here']" routerLinkActive="router-link-active"
    >profile</a
  >
  <a [routerLink]="['admin']" routerLinkActive="router-link-active">admin</a>
  <a [routerLink]="['login']" routerLinkActive="router-link-active">login</a>
  <a [routerLink]="['signup']" routerLinkActive="router-link-active">signup</a>
</div>
