<div class="flex flex-col gap-2 w-full p-3 sm:p-5 h-full">
  <div
    @enter
    class="w-full flex items-center justify-between sticky top-0 backdrop-blur-md"
  >
    <div class="flex items-center gap-3">
      <div>
        @if (dataSource.userData.data ) {
        <img
          class="h-9 w-9 rounded-full"
          src="{{ dataSource.userData.data?.AvatarURL }}"
          alt="{{ dataSource.userData.data?.UserName }}"
        />
        }@else {

        <div class="h-9 w-9 grid place-content-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-neutral-600 dark:stroke-white h-6 w-6 animate-spin"
          >
            <path d="M21 12a9 9 0 1 1-6.219-8.56" />
          </svg>
        </div>
        }
      </div>
      @if(!dataSource.userData.data || dataSource.userData.loading){
      <div class="flex justify-start flex-col gap-1 w-[130px]">
        <div class="h-[20px] bg-gray-200 dark:bg-gray-700 rounded animate-pulse w-full"></div>
        <div class="h-[14px] bg-gray-200 dark:bg-gray-700 rounded animate-pulse w-16"></div>
      </div>
      }@else {
      <div class="flex justify-start flex-col">
        <h1
          class="text-lg leading-5 font-semibold text-gray-800 dark:text-white"
        >
          {{ dataSource.userData.data?.UserName }}
        </h1>
        <p class="text-s opacity-70">User Analitics</p>
      </div>
      }
    </div>
  </div>

  <div
    class="overflow-y-scroll custom-scrollbar custom-scrollbar-light dark:custom-scrollbar-dark min-h-max h-full flex-1 w-full"
  >
    <div class="grid grid-cols-6 gap-4 h-max w-full">
      <!-- write here -->
      <div class="flex flex-col gap-3 px-4 py-3 col-span-2 bg-gray-200/60 dark:bg-gray-700 rounded-lg ">

      </div>
    </div>
  </div>
</div>
