<div class="relative w-full min-h-screen overflow-x-hidden">
  <img
    class="hidden sm:block h-1/2 object-cover scale-110 left-0 absolute"
    src="/assets/login-bg.webp"
  />

  <div
    class="w-full h-full absolute top-0 left-0 flex justify-center items-start pt-20 sm:pt-52"
  >
    <div class="flex flex-col gap-3 w-full p-4">
      <p class="font-bold pb-4 text-center">Create your instagram account</p>

      @if (currentForm === "USERNAME") {
      <app-unique-user-name></app-unique-user-name>
      }@else {
      <app-user-data></app-user-data>
      }
    </div>
  </div>
</div>
