<div class="relative">
  <button
    type="button"
    (click)="setIsOpen()"
    class="py-3 px-4 inline-flex items-center gap-x-2 bg-white dark:bg-black {{
      opnerClass
    }}"
  >
    @if (label && label.length > 0) {
    {{ label }}
    }@else { Action } @if(icon){
    <svg
      class=" w-4 h-4 transition-all duration-200 {{
        isOpen ? 'rotate-180' : ''
      }}"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m6 9 6 6 6-6" />
    </svg>
    }
  </button>

  @if (isOpen) {
  <div
    @dropBody
    class="absolute z-10 top-[100%] flex flex-col justify-between gap-1 bg-white dark:bg-black rounded-2xl w-full border border-stone-300 dark:border-stone-900"
  >
    @for (item of Options; track $index) {
    <button
      type="button"
      class="px-4 py-2 w-full flex justify-start items-center"
      (click)="clickHandler(item)"
    >
      {{ item }}
    </button>
    @if ($index + 1 !== Options.length) {
    <hr class="w-full border-stone-300 dark:border-stone-900" />

    } }

    <ng-content></ng-content>
  </div>
  }
</div>
