<div class="h-full w-full py-4 flex flex-col items-center justify-center gap-4">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="{{Color == 'NEUTRAL' ? 'stroke-neutral-700 dark:stroke-neutral-600 h-9 w-9':'stroke-gray-700 dark:stroke-gray-600 h-9 w-9'}}"
  >
    <path d="m2 2 20 20" />
    <path d="M8.35 2.69A10 10 0 0 1 21.3 15.65" />
    <path d="M19.08 19.08A10 10 0 1 1 4.92 4.92" />
  </svg>
  <p >{{message}}</p>
</div>
