<div class="py-8 flex flex-col gap-5">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="stroke-black dark:stroke-white h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
          />
        </svg>
      </div>
      <p class="font-light">Private Profile</p>
    </div>
    <div>
      <label
        for="toggleFour"
        class="flex items-center cursor-pointer select-none text-dark dark:text-white"
      >
        <div class="relative">
          <input
            type="checkbox"
            id="toggleFour"
            class="peer sr-only"
            [checked]="isPrivacyButtonChecked"
            (click)="PrivacyProtactionHandler()"
          />
          <div
            class="block h-6 rounded-full box w-[44px] peer-checked:bg-primary transition-all duration-200 {{
              isPrivacyButtonChecked
                ? 'bg-black dark:bg-white'
                : 'bg-zinc-200 dark:bg-zinc-800 '
            }}"
          ></div>
          <div
            class="absolute flex items-center justify-center w-5 h-5 transition bg-white dark:bg-black rounded-full dot left-0.5 top-0.5 dark:bg-dark-5 {{
              isPrivacyButtonChecked ? 'translate-x-full' : ''
            }}"
          ></div>
        </div>
      </label>
    </div>
  </div>

  <div
    class="flex items-center justify-between"
    (click)="MentionClickeHandler()"
  >
    <div class="flex items-center gap-2">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="stroke-black dark:stroke-white h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25"
          />
        </svg>
      </div>
      <p class="font-light">Mentions</p>
    </div>
    <div
      class="flex icon gap-3 items-center text-xs text-zinc-400 dark:text-zinc-600"
    >
      <p>{{ "Everyone" }}</p>
      <div class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="stroke-zinc-400 dark:stroke-zinc-600 h-5 w-5"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="stroke-black dark:stroke-white h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
          />
        </svg>
      </div>
      <p class="font-light">Hidden Words</p>
    </div>
  </div>
</div>

@if (dialog.dialogVisible() === "PRIVATE_ACCOUNT") {
<custom-popup>
  <div
    class="flex flex-col rounded-xl overflow-hidden sm:w-[400px] bg-white dark:bg-black border border-zinc-300 dark:border-zinc-800"
  >
    <div class="p-4">
      <h2 class="text-xl font-semibold text-black dark:text-white dark">
        Switch to {{ isPrivacyButtonChecked ? "Public" : "Private" }} profile?
      </h2>
      <p class="text-sm">
        {{ isPrivacyButtonChecked ? "Everyone" : " Only approved followers" }}
        will be able to see and interact with your content.
      </p>
    </div>
    <div class="flex border-t border-t-zinc-300 dark:border-t-zinc-800">
      <button
        (click)="dialog.closeDialog()"
        class="flex-1 p-4 text-black dark:text-white font-medium border-r border-r-zinc-300 dark:border-r-zinc-800 hover:bg-zinc-200 dark:hover:bg-zinc-900 transition-all duration-200"
      >
        Cancel
      </button>
      <button
        (click)="AccountPrivacyConfirmation()"
        class="flex-1 p-4 text-black dark:text-white font-medium hover:bg-zinc-200 dark:hover:bg-zinc-900 transition-all duration-200"
      >
        OK
      </button>
    </div>
  </div>
</custom-popup>
}
<!--  -->
@if (dialog.dialogVisible() === "MENTION_ACCESS") {
<custom-popup>
  <div
    class="p-4 flex flex-col rounded-xl overflow-hidden sm:w-[500px] bg-white dark:bg-black border border-zinc-300 dark:border-zinc-800"
  >
    <div class="flex flex-col items-start gap-3 sm:gap-5">
      <h2 class="text-black dark:text-white font-semibold text-lg">Mentions</h2>

      <div class="w-full flex flex-col gap-1 text-left">
        <h2 class="text-black dark:text-white text-lg">
          Allow &#64;mentions from
        </h2>
        <p class="text-sm">
          Choose who can &#64;mention you to link your profile in their threads,
          replies or bio. When people try to &#64;mention you, they'll see that
          you don't allow &#64;mentions.
        </p>
      </div>

      <div class="w-full flex flex-col">
        <button
          (click)="MentionConfirmation('ALL')"
          class="flex items-center justify-between py-2.5"
        >
          <label
            for="everyone"
            class="w-full text-left text-black dark:text-white"
            >Everyone</label
          >
          <div
            class="group  relative flex items-center justify-center rounded-full border border-zinc-400 dark:border-zinc-700 h-5 w-5 {{
              selectedMentionAccess === 'ALL'
                ? 'bg-black dark:bg-white'
                : 'bg-white dark:bg-black'
            }}"
          >
            <div
              class="h-1.5 w-1.5 rounded-full  contents-[' '] group {{
                selectedMentionAccess === 'ALL'
                  ? 'bg-white dark:bg-black'
                  : 'w-0 h-0'
              }}"
            ></div>
          </div>
        </button>
        <button
          (click)="MentionConfirmation('FOLLOW')"
          class="flex items-center justify-between py-2.5"
        >
          <label
            for="everyone"
            class="w-full text-left text-black dark:text-white"
            >Profiles that you follow</label
          >
          <div
            class="group  relative flex items-center justify-center rounded-full border border-zinc-400 dark:border-zinc-700 h-5 w-5 {{
              selectedMentionAccess === 'FOLLOW'
                ? 'bg-black dark:bg-white'
                : 'bg-white dark:bg-black'
            }}"
          >
            <div
              class="h-1.5 w-1.5 rounded-full  contents-[' '] group {{
                selectedMentionAccess === 'FOLLOW'
                  ? 'bg-white dark:bg-black'
                  : 'w-0 h-0'
              }}"
            ></div>
          </div>
        </button>
        <button
          (click)="MentionConfirmation('NONE')"
          class="flex items-center justify-between py-2.5"
        >
          <label
            for="everyone"
            class="w-full text-left text-black dark:text-white"
            >No one</label
          >
          <div
            class="group  relative flex items-center justify-center rounded-full border border-zinc-400 dark:border-zinc-700 h-5 w-5 {{
              selectedMentionAccess === 'NONE'
                ? 'bg-black dark:bg-white'
                : 'bg-white dark:bg-black'
            }}"
          >
            <div
              class="h-1.5 w-1.5 rounded-full  contents-[' '] group {{
                selectedMentionAccess === 'NONE'
                  ? 'bg-white dark:bg-black'
                  : 'w-0 h-0'
              }}"
            ></div>
          </div>
        </button>
      </div>
    </div>
  </div>
</custom-popup>
}
