@if(!editProfile){
<div #stickyMenu class="flex items-center justify-between py-4">
  <div class="flex flex-col">
    <p class="text-2xl font-bold">{{ userData?.Name }}</p>
    <p class="text-sm">{{ userData?.UserName }}</p>
  </div>
  <div>
    @if (userData?.AvatarURL.trim().length > 0) {
    <img class="w-20 h-20 rounded-full" [src]="userData?.AvatarURL" />
    }@else {
    <img
      class="w-20 h-20 rounded-full"
      src="https://media.istockphoto.com/id/1451587807/vector/user-profile-icon-vector-avatar-or-person-icon-profile-picture-portrait-symbol-vector.jpg?s=612x612&w=0&k=20&c=yDJ4ITX1cHMh25Lt1vI1zBn2cAKKAlByHBvPJ8gEiIg=" />
    }
  </div>
</div>

<div class="py-2">{{ userData?.Bio }}</div>

<div class="flex items-center justify-between py-4">
  <div class="flex items-center w-full justify-between gap-3.5">
    <!-- <div class="flex -space-x-2 overflow-hidden">
      <img
        class="inline-block h-6 w-6 rounded-full border-2 border-white dark:border-black"
        src="https://imgs.search.brave.com/HBl_T5KkQuwZdTbyhCnScuHZSxrbjYnoPxf1GoRGzPk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvbHVm/ZnktMTI3MC14LTEy/NzAtcGljdHVyZS1x/ODAzNGQxNnkzM296/NXljLmpwZw"
        alt=""
      />
      <img
        class="inline-block h-6 w-6 rounded-full border-2 border-white dark:border-black"
        src="https://imgs.search.brave.com/HBl_T5KkQuwZdTbyhCnScuHZSxrbjYnoPxf1GoRGzPk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvbHVm/ZnktMTI3MC14LTEy/NzAtcGljdHVyZS1x/ODAzNGQxNnkzM296/NXljLmpwZw"
        alt=""
      />
    </div>
    <div class="w-2"></div>

    <p class="text-sm">{{ userData?.FollowersCount }} Followers</p> -->
    <button
      class="w-full bg-white dark:bg-black border border-neutral-400 dark:border-neutral-800 rounded-lg py-2 text-sm hover:border-neutral-600 dark:hover:border-neutral-700 transition-all duration-150">
      <p class="text-sm">{{ userData?.FollowersCount }} Followers</p>
    </button>
    <button
      class="w-full bg-white dark:bg-black border border-neutral-400 dark:border-neutral-800 rounded-lg py-2 text-sm hover:border-neutral-600 dark:hover:border-neutral-700 transition-all duration-150">
      <p class="text-sm">{{ userData?.FollowingCount }} Following</p>
    </button>
  </div>
</div>

<button
  (click)="editProfile = true"
  class="w-full bg-white dark:bg-black border border-neutral-400 dark:border-neutral-800 rounded-lg py-2 text-sm hover:border-neutral-600 dark:hover:border-neutral-700 transition-all duration-150">
  Edit Profile
</button>

<div
  class="relative flex justify-around text-sm mt-2 sm:mt-3 bg-white dark:bg-[rgba(16,16,16,0.3)] backdrop-blur-lg overflow-hidden {{
    sticky ? 'sticky top-[40px] sm:top-[75px] z-50 ' : 'w-full'
  }} ">
  <button
    class="flex-1 py-4 {{
      selectedTab === 'THREADS'
        ? 'text-black dark:text-white'
        : 'text-neutral-400 dark:text-neutral-600'
    }} transition-all duration-200"
    (click)="setSelectedTab('THREADS')">
    Threads
    <!-- {{ selectedTab === "THREADS" ? "(" + myThreads.length + ")" : "" }} -->
  </button>
  <!-- <button
    class="flex-1 py-4 {{
      selectedTab === 'REPLIES'
        ? 'text-black dark:text-white'
        : 'text-neutral-400 dark:text-neutral-600'
    }} transition-all duration-200"
    (click)="setSelectedTab('REPLIES')"
  >
    Replies
  </button> -->
  <button
    class="flex-1 py-4 {{
      selectedTab === 'REPOSTS'
        ? 'text-black dark:text-white'
        : 'text-neutral-400 dark:text-neutral-600'
    }} transition-all duration-200"
    (click)="setSelectedTab('REPOSTS')">
    Reposts
    <!-- {{ selectedTab === "REPOSTS" ? "(" + myThreads.length + ")" : "" }} -->
  </button>

  <!-- {{ selectedTab === 'REPLIES' ? 'left-[33%]' : '' }} -->
  <div
    class="absolute bottom-0 w-[50%] h-[2px] bg-black dark:bg-white transition-all duration-200
    {{ selectedTab === 'THREADS' ? 'left-0' : '' }}
    {{ selectedTab === 'REPOSTS' ? 'left-[50%]' : '' }} "></div>
</div>

<div #loader></div>
@if (userLoading || postLoading) {
<loader type="FULL"></loader>
}

<div>
  @for (item of myThreads; track $index) {
  <app-thread [ThreadData]="item"></app-thread>
  }
</div>

<div
  class="pt-32 pb-20 w-full contents-[' '] flex items-center justify-end flex-col text-sm">
  <p>You have reached the depth of the Earth 🌍</p>
  <p>There are no more threads to show.</p>
</div>
}@else {
<edit-profile (onClose)="this.editProfile = false" />
}
