<div class="flex flex-col gap-2 w-full p-3 sm:p-5 h-full">
  <div
    class="w-full flex items-center justify-between sticky top-0 backdrop-blur-md"
  >
    <div class="flex items-center gap-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke-neutral-600 dark:stroke-white h-6 w-6"
      >
        <rect width="7" height="9" x="3" y="3" rx="1" />
        <rect width="7" height="5" x="14" y="3" rx="1" />
        <rect width="7" height="9" x="14" y="12" rx="1" />
        <rect width="7" height="5" x="3" y="16" rx="1" />
      </svg>
      <h1 class="text-2xl font-semibold text-gray-800 dark:text-white">
        Dashboard
      </h1>
    </div>
  </div>

  <div
    class="overflow-y-scroll custom-scrollbar custom-scrollbar-light dark:custom-scrollbar-dark min-h-max h-full flex-1 w-full"
  >
    <div class="flex flex-col gap-3 h-max w-full">
      <!-- write here -->
    </div>
  </div>
</div>
