@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Moirai+One&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.font-moirai {
  font-family: "Moirai One", system-ui;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232323;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #454545;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #565656;
}

.modal-open {
  overflow: hidden;
}
input,
textarea,
button,
input:focus,
textarea:focus,
button:focus {
  --tw-ring-shadow: 0 0 #000 !important;
}

.calendar .p-inputtext {
  background: #1e1e1e;
  border: none !important;
  width: 100%;
  padding: 0;
  box-shadow: none;
}

.calendar .p-inputtext::placeholder {
  color: #737373;
  font-size: 0.875rem;
}

.calendar .p-datepicker {
  padding: 1rem;
  background: #1e1e1e;
  color: #fff;
  border-radius: 1rem;
  overflow: hidden !important;
  border: 2px solid #2e2e2e;
}

.calendar .p-datepicker-header {
  background: #1e1e1e;
  color: #fff;
  padding-bottom: 1rem;
}

.calendar .p-highlight {
  background: #2e2e2e;
  color: #fff;
}

.calendar .p-element:hover {
  background: #2e2e2e;
}

.calendar .p-component,
.calendar .p-component:focus,
.calendar .p-focus {
  border: none;
  outline: none;
}

body {
  background-color: #101010 !important;
}
